.journalPageMainContainer {
   
    width: 500px;
    margin: 2%;
    display: inline-flex;
    position: absolute;
}

.journalTextInput {
    height: 200px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: antiquewhite;
}

.month-days {
    position: absolute;
}