*{
    margin: 0%;
    padding: 0%;
}

.homePageMainContainer {
    width: 100%;
    height: 100vh;
    font-family: monospace;
}

.homePageHeading {

}

.homePageSectionOne {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

